.employee-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.add-employee-btn {
  background: rgb(37 99 235);
  padding: 0.6rem;
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.search-container {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 0.8rem;
  gap: 0.8rem;
  width: 100%;
}

.search-container input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.add-employee-form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  gap: 1rem;
}
.add-employee {
  padding: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  /* width: 25%; */
  min-width: 250px;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.add-employee-form input {
  padding: 0.5rem;
  /* border-radius: 8px; */
  width: 100%;
  outline: none;
}

.add-employee-btn-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 0.5rem 0rem;
}

.cancel-btn {
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 8px;
  width: 45%;
  cursor: pointer;
}

.create-btn {
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 8px;
  background: rgb(37 99 235);
  color: #ffffff;
  width: 45%;
  cursor: pointer;
}
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.btn {
  background: transparent;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.emp-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.employee-row-cont {
  display: flex;
  align-items: center;
}
.emp-title {
  color: rgb(75 85 99);
  font-size: 0.8rem;
  font-weight: 500;
  width: 100px;
  /* background: plum; */
}

.sub-title {
  font-size: 0.7rem;
}

.emp-teams-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.emp-teams-container p {
  font-size: 0.8rem;
  font-weight: 500;
}

.emp-team-btn {
  background: rgb(219 234 254);
  color: rgb(29 78 216);
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 8px;
}

.label-cont {
  width: 100%;
}

.label-cont label {
  color: rgb(75 85 99);
  font-size: 0.875rem;
  font-weight: 500;
  /* margin-bottom: 0.3rem !important; */
}
